<nav class="navbar navbar-expand-sm bg-dark navbar-dark px-4">
    <a routerLink="" class="navbar-brand" href="#"><h4>Diamond.Solution</h4> </a>
    <div class="collapse navbar-collapse">

        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/about']">Sobre nós</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contato']">Contato</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/candidato']">Envie um currículo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']"><button type="button" class="btn btn-outline-secondary" id="btn-admin">Login</button></a>
            </li>
        </ul>
    </div>
</nav>

