<app-header></app-header>
<header>
    <div class="container-fluid px-4 py-5 my-5 text-center">
        <div class="lc-block d-block mx-auto mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" width="5em" height="5em" lc-helper="svg-icon" fill="currentColor">
                <path d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm121.8 169.9l-40.7 191.8c-3 13.6-11.1 16.9-22.4 10.5l-62-45.7-29.9 28.8c-3.3 3.3-6.1 6.1-12.5 6.1l4.4-63.1 114.9-103.8c5-4.4-1.1-6.9-7.7-2.5l-142 89.4-61.2-19.1c-13.3-4.2-13.6-13.3 2.8-19.7l239.1-92.2c11.1-4 20.8 2.7 17.2 19.5z"></path>
            </svg>
        </div>
        <div class="lc-block">
            <div editable="rich">

                <h2 class="display-5 fw-bold">Seu currículo mais visível</h2>

            </div>
        </div>
        <div class="lc-block col-lg-6 mx-auto mb-4">
            <div editable="rich">

                <p class="lead">No Diamond Solution, oferecemos uma plataforma intuitiva e abrangente que permite aos candidatos criar perfis profissionais atraentes, enviar currículos, pesquisar vagas e se conectar com recrutadores. Para empregadores, fornecemos soluções eficazes de recrutamento, ajudando-os a encontrar os candidatos ideais de maneira eficiente.</p>
            </div>
        </div>
    </div>
</header>
<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <div class="lc-block mb-3">
                <div editable="rich">
                    <h2 class="fw-bold display-4">Junte-se a nós&nbsp;<p></p>
                        <p></p>
                    </h2>
                </div>
            </div>

            <div class="lc-block mb-3">
                <div editable="rich">
                    <p class="lead">Estamos entusiasmados em fazer parte de sua jornada profissional e convidamos você a explorar todas as oportunidades que o Diamond Solution oferece. Seja você um candidato em busca de um novo desafio ou um empregador em busca do próximo membro valioso de sua equipe, estamos aqui para ajudar.
                    </p>
                </div>
            </div>

            <div class="lc-block d-grid gap-2 d-md-flex justify-content-md-start"><a href="#top"class="btn btn-primary px-4 me-md-2" [routerLink]="['/candidato']" role="button">Candidate-se</a>
                <a class="btn btn-outline-secondary px-4" href="#" role="button">Contate-nos</a>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <div class="lc-block"><img class="rounded-start" src="https://images.unsplash.com/photo-1549923746-b7f3a7e3c35d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Photo by Diego PH" width="720"></div>
        </div>
    </div>
</div>

<app-footer></app-footer>