<app-header></app-header>
<div class="container my-5">
    <div class="row p-3 pb-2 pe-lg-0 pt-lg-0 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5">
            <div class="lc-block mb-2">
                <div editable="rich">
                    <h2 class="fw-bold display-5">Nosso contato&nbsp;<p></p>
                        <p></p>
                    </h2>
                </div>
            </div>

            <div class="lc-block mb-3">
                <div editable="rich">
                    <p class="lead">Estamos aqui para ajudar! Se você tiver alguma dúvida, sugestão, feedback ou precisar de suporte, não hesite em entrar em contato conosco. Nossa equipe de suporte ao cliente está pronta para atendê-lo.
                    </p>
                    <dl class="row">
                        <dt class="col-sm-3">E-mail:</dt>
                        <dd class="col-sm-9">loremipsum@gmail.com</dd>

                        <dt class="col-sm-3">Telefone:</dt>
                        <dd class="col-sm-9">
                          <p>+55 (85) 99999-2222</p>
                        </dd>

                        <dt class="col-sm-3">Horário de funcionamento:</dt>
                        <dd class="col-sm-9">
                            Segunda a Sexta: <b>[08:00 - 14:00]</b> <br />
                            Sábado e Domingo: <b>Fechado</b>
                        </dd>
                      
        
                      
                      
    
                      </dl>
                </div>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <div class="lc-block"><img class="rounded-start" src="https://images.unsplash.com/photo-1523966211575-eb4a01e7dd51?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2020&q=80" alt="Photo by Diego PH" width="720"></div>
        </div>
    </div>
</div>